main ul{
    list-style: inside;
    font-size: 22px;
    padding: 30px;
    color: black;
}

h1{
    font-weight: bold;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
    color: black;
}

h2{
    font-weight: bold;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-style: italic;
    text-align: center;
    text-decoration:underline;
    color: black;
}

h3{
    padding-top: 20px;
    font-size: 25px;
    text-decoration: underline;
    color: black;
}

p{
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}

body{
    background-color: rgb(118, 129, 177);
}

main{
    padding: 30px 80px 20px 80px;
}

.imagem{
    max-width: 700px;
    text-align: center;
    border-radius: 30px;
    margin: auto;
    display: block;
    padding-bottom: 20px;
}

.texto{
    font-size: 24px;
    padding-top: 10px;
}